page-versus {
  & .row {
    font-size: 1.25em;

    & .count {
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      position: absolute;
      left: 50%;
    }

    & .arrow-left {
      zoom:1.125;
    }

    & .arrow-right {
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%);
      position: absolute;
      left: 96%;
      zoom:1.125;
    }

    & .team-left {
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%);
      position: absolute;
      left: 40%;
    }

    & .team-right {
      position: absolute;
      left: 60%;
    }
  }
}
