page-versus {
  & .row {
    font-size: 1.25em;

    & .count {
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      position: absolute;
      left: 50%;
    }

    & .arrow-left {
      zoom: 1.125;
    }

    & .arrow-right {
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%);
      position: absolute;
      left: 96%;
      zoom: 1.125;
    }

    & .team-left {
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%);
      position: absolute;
      left: 40%;
    }

    & .team-right {
      position: absolute;
      left: 60%;
    }
  }

  & .btn {
    padding: 1.75em 0 1.75em 0;
  }
}

.alert-title {
  text-align: center !important;
}

.alert-sub-title {
  -webkit-transform: translateX(-50%) !important;
  -moz-transform: translateX(-50%) !important;
  -ms-transform: translateX(-50%) !important;
  -o-transform: translateX(-50%) !important;
  transform: translateX(-50%) !important;

  position: fixed !important;
  top: 45% !important;
  left: 50% !important;
}

.alert-input-group {

  & .alert-input-wrapper {
    padding: 1em 0 1em 0 !important;

    & #left-input {
      -webkit-transform: translateX(-100%) !important;
      -moz-transform: translateX(-100%) !important;
      -ms-transform: translateX(-100%) !important;
      -o-transform: translateX(-100%) !important;
      transform: translateX(-100%) !important;

      position: fixed !important;
      top: 40% !important;
      left: 42.5% !important;

      width: 20% !important;

      text-align: center !important;
    }

    & #right-input {
      position: fixed !important;
      top: 40% !important;
      left: 57.5% !important;

      width: 20% !important;

      text-align: center !important;
    }
  }

}
