<!--
  Generated template for the VersusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{selectedGame.gameName}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content (ionScroll)="onScroll($event)">
  <div padding>
    <h2 style="color:#5b5b75">Matches</h2>
  </div>
  <ion-list no-padding>
    <ion-item-sliding *ngFor="let match of matches | async">
      <ion-item style="text-align: center" detail-push>
        <h1 *ngIf="!match.played">
          {{match.team1.teamName}} [ - : - ] {{match.team2.teamName}}
        </h1>
        <h1 *ngIf="match.played" style="color:rgb(211, 211, 211)">
          {{match.team1.teamName}} [ {{match.team1.score}} : {{match.team2.score}} ] {{match.team2.teamName}}
        </h1>
      </ion-item>
      <ion-item-options (ionSwipe)="logWin(match, true, false)" side="left">
        <button ion-button color="secondary" (click)="logWin(match, true, false)"> {{match.team1.teamName}} wins
        </button>
        <button ion-button color="light" (click)="logWin(match, true, true)"> draw
        </button>
      </ion-item-options>
      <ion-item-options (ionSwipe)="logWin(match, false, true)" side="right">
        <button ion-button color="light" (click)="logWin(match, true, true)"> draw
        </button>
        <button ion-button color="secondary" (click)="logWin(match, false, true)"> {{match.team2.teamName}} wins
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
<ion-footer>
  <button ion-button block [disabled]="isDisabled" (click)="showRanking()">
    <ion-icon name="trophy" style="zoom:1.5;"></ion-icon>
  </button>
</ion-footer>

